Hi {{ user.name }},<br /><br />
The following delivery has matched with your alert on FindACargo.com: <br /><br />
<div style='background: #B0E4F5; padding: 10px'>
<ul>
    <li><b>Pickup Date: </b>{{ transrequest.pickupdate }}</li>
    <li><b>Pickup Location: </b>{{ transrequest.pickuplocreadable }}</li>
    <li><b>Destination Location: </b>{{ transrequest.destinationreadable }}</li>
</ul>
</div>
